# Ignore everything
/**

# Except directories
!*/

# And source code files
!*.cs
!*.js
!*.css
!*.cshtml

# And these files
!.gitignore
!README.md
!LICENSE
!*/.vscode/*
Quoridor/Quoridor/obj/Debug/netcoreapp3.1/ubuntu.18.04-x64/Quoridor.RazorAssemblyInfo.cs
Quoridor/Quoridor/obj/Debug/netcoreapp3.1/ubuntu.18.04-x64/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Quoridor/Quoridor/obj/Debug/netcoreapp3.1/ubuntu.18.04-x64/Quoridor.AssemblyInfo.cs
Quoridor/Quoridor/Quoridor.csproj
