# Ignore everything
/**

# Except directories
!*/

# And source code files
!*.cs
!*.js
!*.css
!*.cshtml

# And these files
!.gitignore
!README.md
!LICENSE

Quoridor/Quoridor/obj/**
Quoridor/Quoridor.Console.App/obj/**
Quoridor/Quoridor/bin/**
Quoridor/Quoridor.Console.App/bin/**
.vs/**
.vscode/**
node_modules/**