@model Quoridor.Models.Game
@{
    ViewData["Title"] = "Quoridor";
    //Layout = null;
}
<h1>@ViewData["Title"]</h1>

<p>Let's play!</p>

<table class="geek" border="1">
    <tr>
        <td class="col cell"></td>
        <td class="between_cols"></td>
        <td class="col cell"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"><div class="pawn pawn0"></div></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
    </tr>
    <tr class="between_rows">
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
    </tr>
    <tr>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
    </tr>
    <tr class="between_rows">
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
    </tr>
    <tr>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
    </tr>
    <tr class="between_rows">
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
    </tr>
    <tr>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
    </tr>
    <tr class="between_rows">
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
    </tr>
    <tr>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
    </tr>
    <tr class="between_rows">
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
    </tr>
    <tr>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
    </tr>
    <tr class="between_rows">
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
    </tr>
    <tr>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
    </tr>
    <tr class="between_rows">
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
    </tr>
    <tr>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
    </tr>
    <tr class="between_rows">
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
    </tr>
    <tr >
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"><div class="pawn pawn1" id="pawn1"></div></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
        <td class="between_cols"></td>
        <td class="col"></td>
    </tr>
</table>

        @*<table>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td class="between_cols"> 1</td>
                        <td></td>
                        <td class="between_cols"> 1</td>
                        <td></td>
                        <td class="between_cols"> 1</td>
                        <td></td>
                        <td class="between_cols"> 1</td>
                        <td></td>
                        <td class="between_cols"> 1</td>
                        <td></td>
                        <td class="between_cols"> 1</td>
                        <td></td>
                        <td class="between_cols"> 1</td>
                        <td></td>
                        <td class="between_cols"> 1</td>
                        <td></td>
                        <td class="between_cols">1 </td>
                    </tr>
                </tbody>
            </table>*@
