@model IEnumerable<int[]>

    <div class="table">

        @foreach (var item in Model)
        {
            <div class="posMoveX">@item[0]</div>
            <div class="posMoveY">@item[1]</div>
            
        }
    </div>